[user]
	name = Damien Robertson
	email = robertsondamien@gmail.com
[color]
	ui = auto
[core]
	# macOS
	editor = /usr/local/bin/vim
	# Linux
	#editor = /usr/bin/vim
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
