[user]
	name = Damien Robertson
	email = robertsondamien@gmail.com
[color]
	ui = auto
[core]
	editor = /usr/local/bin/vim
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
